.header h4, .adinkra {
  display: inline;
  text-align: center;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 60px;
  background-color: #79cedc;
}

.adinkra {
  font-size: 40px;
  color: white;
  padding: 0 5px;
}

.name {
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h4 {
  margin-top: -8px;
  margin-bottom: 0;
}
.name h6 {
  font-style: italic;
}
.name p {
  font-size: 20px;
}
.p-skills p{
  font-size: 20px;
  display: block;
  margin: 0 !important;
  padding-bottom: 20px;
}
.image {
  width: 100%;
  height: 245px;
  background-image: url("https://static.pexels.com/photos/276452/pexels-photo-276452.jpeg");
  background-size: cover;
  background-position: center;
}
