.header h4, .adinkra {
  display: inline;
  text-align: center;
  color: #1F1641;
  font-size: 60px;
  font-family: comit san ms;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 60px;
  background-color: #05acd3;
}

.adinkra {
  font-size: 40px;
  color: white;
  padding: 0 5px;
}

.name {
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h4 {
  margin-top: -8px;
  margin-bottom: 0;
}

.name h6 {
  font-style: italic;
}

.name p {
  font-size: 20px;
}

.p-skills p {
  font-size: 20px;
  display: block;
  margin: 0 !important;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
  font-family: comit san ms;
}
