.navbar {
  background-image: url("https://static.pexels.com/photos/157039/pexels-photo-157039.jpeg");
  background-size: cover;
  background-position: center;
}

.navbar a {
  color: white !important;
  padding-left: 10px;
}

.navbar-toggler {
  background-color: white;
}

h6 {
  color: white;
}

.brand {
  height: 150px;
  width: 150px;
  background-color: white;
  background-image: url("https://i.imgur.com/8gS0zm6.jpg");
  background-size: cover;
  background-position: center;
  margin: 10px;
  border-radius: 50%;
}

.about-me {
  margin: auto;
}

.about-me p {
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 7px;
}

.about-me h6 {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  font-family: comit san ms;
  font-weight: bold;
}

.about-me {
  max-width: 350px;
  min-height: 230px;
  border-radius: 50px;
  margin: 4px auto 0 auto;
  background-color: rgba(4, 134, 219, 0.4);
  padding: 20px;
}

.btn {
  margin: 20px 5px 5px 17px;
}

.about-me .btn:nth-of-type(1) {
  background-color: red;
  border-radius: 10px 5px;
  border-left: 3px solid #1F1641;
}

.about-me .btn:nth-of-type(2) {
  background-color: #1F1641;
  border-radius: 10px 5px;
  border-top: 1px solid red;
}

.about-me .btn:nth-of-type(3) {
  background-color: blue;
  border-radius: 10px 5px;
  border-right: 3px solid #1F1641;
}

.my-btn-group {
  text-align: center;
}

@media (max-width: 768px) {
  .brand {
      margin: auto;
  }
  .navbar-toggler {
    margin: auto !important;
  }
  .about-me {
    margin: 30px auto;
    max-width: 100%;
  }
}
